
/* ROOT */
:root{
    /* colors */
    --primary-color: #1D1427;
    --primary-rgb: 29, 20, 39;
    --secondary-color: #F9AA01;
    --tertiary-color: #FFFFFF;
    --grey-color: #787374;
    /* ------- */
}


/* RESET */
ul,ol{
    list-style: none;
    margin: 0;
    padding: 0;
}


/* GENERAL */
header{
    background-color: var(--primary-color);
}

body{
    font-family: 'Oxanium';
    font-weight: bold;
    background-image: url("../assets/body-bg.jpg");
}

a{
    color: unset !important;
}

/* UTILITIES CUSTOM */

.grey{
    color: var(--grey-color);
}

.text-secondary{
    color: var(--secondary-color) !important;
}

.text-tertiary{
    color: var(--tertiary-color);
}

.max-content{
    width: max-content;
}

.cms-title {
    width: 50%;
    top: 25%;
    right: 10px;
}

.secondary-badge{
    position: relative;
    background-color: var(--secondary-color);
    clip-path: polygon(99.72% 0.97%, 50.62% -4.78%, 1.97% -8.10%, 0.27% 101.18%, 98.09% 99.13%);
    text-align: center;
}

.secondary-badge.top-card{
    position: absolute;
    clip-path: polygon(99.72% 0.97%, 50.62% -4.78%, 17.2% -12.27%, 0.27% 101.18%, 79.81% 107.46%);    
    top:8px;
    left:8px;
}

.line{
    width: 5%;
    border: 1px solid var(--secondary-color);
}

.cover-bottom{
    width: 100%;
    padding: 10px;
    bottom: 0;
    background-color: rgba(var(--primary-rgb), 0.5);
}
.cover-bottom:hover{
    background-color: rgba(var(--primary-rgb), 1);
}

.cover-bottom.products {
    padding: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

.section-options > *{
    text-align: center;
    padding: 10px;
    min-width: 160px;
}

.left-arrow{
    bottom:50%;
    left:0;
    transform: translateY(-50%);
}

.right-arrow {
    bottom: 50%;
    right: 0;
    transform: translateY(-50%);
}

.circle-img{
    width: 100px;
    height: 100px;
    border: 1px solid var(--secondary-color);
    border-radius: 50%;
    overflow: hidden;
}

.dot-circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--tertiary-color);
}

.dot-circle.active{
    background-color: var(--secondary-color);
}

/* ** CUSTOM CSS ** */

.header-bottom ul > li{
    padding: 0 20px;
}

.jumbotron{
    height: 90vh;
    background-image: url("../assets/debug.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.jumbotron .container,
.jumbotron .row{
    height: inherit;
}

#our-products .row.products  .category-image:hover img:nth-child(1),
#deals .row.deals .category-image:hover img:nth-child(1){
    display: block !important;
}

#our-products .row.products .category-image:hover img:nth-child(2),
#deals .row.deals .category-image:hover img:nth-child(2) {
    display: none !important;
}

.quotes{
    height: 50vh;
    background-image: url("../assets/parallax.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.quotation-mark{
    top: -5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--secondary-color);
}