
/* ROOT */
:root{
    /* colors */
    --primary-color: #1D1427;
    --secondary-color: #F9AA01;
    --tertiary-color: #FFFFFF;
    --grey-color: #787374;
    /* ------- */
}


/* RESET */
ul,ol{
    list-style: none;
    margin: 0;
    padding: 0;
}

/* GENERAL */
header{
    background-color: var(--primary-color);
}

body{
    font-family: 'Oxanium';
    font-weight: bold;
    background-image: url("../assets/body-bg.jpg");
}

/* UTILITIES */

.grey{
    color: var(--grey-color);
}

.text-tertiary{
    color: var(--tertiary-color);
}

/* CUSTOM CSS */

.header-bottom ul > li{
    padding: 0 20px;
}