
/* ROOT */
:root{
    /* colors */
    --primary-color: #1D1427;
    --secondary-color: #F9AA01;
    --tertiary-color: #FFFFFF;
    --grey-color: #787374;
    /* ------- */
}


/* RESET */
ul,ol{
    list-style: none;
    margin: 0;
    padding: 0;
}

/* GENERAL */
header{
    background-color: var(--primary-color);
}

body{
    font-family: 'Oxanium';
    font-weight: bold;
    background-image: url("../assets/body-bg.jpg");
}

/* UTILITIES */

.grey{
    color: var(--grey-color);
}

.text-tertiary{
    color: var(--tertiary-color);
}

.max-content{
    width: max-content;
}


.secondary-badge{
    position: relative;
    background-color: var(--secondary-color);
    clip-path: polygon(99.72% 0.97%, 50.62% -4.78%, 1.97% -8.10%, 0.27% 101.18%, 98.09% 99.13%);
    text-align: center;
}

/* CUSTOM CSS */

.header-bottom ul > li{
    padding: 0 20px;
}

.jumbotron{
    height: 90vh;
    background-image: url("../assets/debug.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.jumbotron .container,
.jumbotron .row{
    height: inherit;
}



.cms-title{
    width: 50%;
    top: 25%;
    right: 0;
    transform: translate(-25%);
}

